#movingbutton{
    margin-left: auto;
    margin-right: auto;
    display: block;
       position: absolute;
    left : 35%;

}
body{
  width : 100%;
}

.main{
  display: inline;
  margin-left: 30%;
}
img{
  width: 400px;
  height: 300px;
  margin-left:32% ;
}
.accept{
  margin-left: 50%;
}


.gif{
  margin-left: 36%;
  margin-top: 8% ;
  width: 400px;
  height: 300px;
}

.moved{
  margin-left: 40%;
}